<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title" id="basic-layout-colored-form-control">Quotation</h4>
      </div>
      <div class="card-body">
        <div class="px-3">
          <form class="form" [formGroup]="quotation_data" (ngSubmit)="addOrUpdate(quotation_data)">
            <div class="form-body">
              <h4 class="form-section"><i class="ft-info"></i>Customer Details</h4>
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="customer_name">Customer Name</label>
                    <app-account-select
                    [parentForm]="quotation_data"
                    [controlName]="'customer_name'"></app-account-select>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="customer_address">Billing Address</label>
                    <!-- <select class="form-control" id="customer_address" name="customer_address" formControlName="customer_address">
                <option>ABC Packing</option>
                <option>AWM Enterprises</option>
              </select> -->
                    <ng-select [searchable]="true" id="customer_address" name="customer_address" formControlName="customer_address">
                      <ng-option value="address1">Address 1</ng-option>
                      <ng-option value="address2">Address 2</ng-option>
                    </ng-select>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="quotation_date">Quotation Date</label>
                    <input type="date" class="form-control" formControlName="quotation_date" id="quotation_date" name="quotation_date"
                      data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Date Opened">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="quotation_validity">Quotation Validity</label>
                    <input type="date" class="form-control" formControlName="quotation_validity" id="quotation_validity"
                      name="quotation_validity" data-toggle="tooltip" data-trigger="hover" data-placement="top"
                      data-title="Date Opened">
                  </div>
                </div>

              </div>
              <div class="row">

              </div>
              <h4 class="form-section mt-1"><i class="ft-info"></i>Product Detail</h4>
              <div class="row">
                <div class="col-md-2">
                  <a class="btn btn-primary btn-sm btn-raised" (click)="open(product_modal)">Add</a>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <table class="table table-bordered overflow-scroll p-0">
                      <thead>
                        <th style="width: 5%;">SR</th>
                        <th style="width: 30%;">Product Name</th>
                        <th style="width: 10%;">Qty</th>
                        <th style="width: 10%;">Rate</th>
                        <th style="width: 10%;">GST %</th>
                        <th style="width: 10%;">Total</th>
                        <th style="width: 10%;">Action</th>
                      </thead>
                      <tbody>
                        <tr *ngFor="let field of fieldArray; let i =index ">
                          <td>{{i+1}}</td>
                          <td>{{field.product_name.product_trade_name}}</td>
                          <td>{{field.product_qty}}</td>
                          <td>{{field.product_name.product_mrp_rate}}</td>
                          <td>{{field.product_name.tax_rate}}</td>
                          <td>{{field.total_price}}</td>
                          <td><a (click)="deleteFieldValue(i)"><span class='ft-trash-2 red'></span></a></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td>
                            <ng-select name="product_name" [searchable]="true" [items]="products" bindLabel="product_trade_name"
                              (ngModelChange)="update_model_price($event)" [(ngModel)]='newAttribute.product_name'
                              [ngModelOptions]="{standalone: true}"></ng-select>
                          </td>
                          <td><input class="form-control" (input)="calculateAmount()" [(ngModel)]="newAttribute.product_qty"
                              [ngModelOptions]="{standalone: true}"></td>
                          <td><input class="form-control" [value]="newAttribute.product_rate"></td>
                          <td><input class="form-control" [value]="newAttribute.product_gst_percent"></td>
                          <td><input class="form-control" [value]="newAttribute.amount"></td>
                          <td><a><i class="ft-plus-circle green bold font-large-1" (click)="addFieldValue();"></i></a></td>
                        </tr>
                      </tbody>
                      <!-- <tfoot>
                          <tr>
                              <td colspan="5"></td>
                              <td><input type="number" id="sum_bdls" class="form-control" name="sum_bdls"></td>
                              <td><input type="number" id="sum_pkts" class="form-control" name="sum_pkts"></td>
                              <td><input type="number" id="sum_total_weight" class="form-control" name="sum_total_weight"></td>
                              <td><input type="number" id="sum_sheets" class="form-control" name="sum_sheets"></td>
                              <td colspan="2"></td>
                              <td colspan="2"><input type="number" id="sum_amount" class="form-control" name="sum_amount"></td>
                          </tr>
                      </tfoot> -->
                    </table>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="row">
                    <div class="col-md-12">
                      <label for="delivery_at">Delivery At</label>
                      <ng-select [searchable]="true" id="delivery_at" formControlName="delivery_at" id="delivery_at"
                        name="delivery_at">
                        <ng-option value="Address1">Address 1</ng-option>
                        <ng-option value="Address2">Address 2</ng-option>
                      </ng-select>
                    </div>
                  </div>
                  <div class="row mt-1">
                    <div class="col-md-12">
                      <label for="transporter_name">Transporter Name</label>
                      <ng-select [searchable]="true" formControlName="transporter_name" name="transporter_name" id="transporter_name">
                        <ng-option value="transport1">Transport 1</ng-option>
                        <ng-option value="transport2">Transport 2</ng-option>
                      </ng-select>
                    </div>
                  </div>
                  <div class="row mt-1">
                    <div class="col-md-12">
                      <label for="eway_bill">E-WAY Bill No</label>
                      <input type="text" formControlName="eway_bill" id="eway_bill" class="form-control" name="eway_bill">
                    </div>
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-12">
                      <div class="row mt-1">
                        <div class="offset-2 col-md-4 mt-1 text-right">
                          <label for="gross_amount" class="">Gross Amount</label>
                        </div>
                        <div class="col-md-6">
                          <input type="text" formControlName="gross_amount" id="gross_amount" class="form-control" name="gross_amount"
                            [value]="amount.gross_amount" readonly>
                        </div>
                      </div>
                      <div class="row mt-1">
                        <div class="offset-2 col-md-4 mt-1 text-right">
                          <label for="discount_in">Discount</label>
                        </div>
                        <div class="col-md-2">
                          <select class="form-control" formControlName="discount_in" id="discount_in" name="discount_in"
                            (change)="change_discount_type($event);update_total(discount_value.value);">
                            <option>%</option>
                            <option>Amt</option>
                          </select>
                        </div>
                        <div class="col-md-4">
                          <input type="number" #discount_value formControlName="discount_value" [value]="discount.value"
                            (keyup)="update_total(discount_value.value)" id="discount_value" class="form-control" name="discount_value">
                        </div>
                      </div>
                      <div class="row mt-1">
                        <div class="offset-2 col-md-4 mt-1 text-right">
                          <label for="total">Total</label>
                        </div>
                        <div class="col-md-6">
                          <input type="text" formControlName="total" readonly id="total" [value]="amount.total_amount"
                            class="form-control" name="total">
                        </div>
                      </div>

                      <div class="row mt-1">
                        <div class="offset-2 col-md-4 mt-1 text-right">
                          <label for="cgst">CGST</label>
                        </div>
                        <div class="col-md-6">
                          <input type="text" formControlName="cgst" readonly id="cgst" class="form-control" name="cgst">
                        </div>
                      </div>
                      <div class="row mt-1">
                        <div class="offset-2 col-md-4 mt-1 text-right">
                          <label for="sgst">SGST</label>
                        </div>
                        <div class="col-md-6">
                          <input type="text" formControlName="sgst" readonly id="sgst" class="form-control" name="sgst">
                        </div>
                      </div>
                      <div class="row mt-1">
                        <div class="offset-2 col-md-4 mt-1 text-right">
                          <label for="igst">IGST</label>
                        </div>
                        <div class="col-md-6">
                          <input type="text" formControlName="igst" readonly id="igst" class="form-control" name="igst">
                        </div>
                      </div>
                      <div class="row mt-1">
                        <div class=" offset-2 col-md-4 mt-1 text-right">
                          <label for="del_charges">Delivery Charges</label>
                        </div>
                        <div class="col-md-6">
                          <input type="text" #del_charge (input)="update_grand_total(del_charge.value)" formControlName="del_charges"
                            id="del_charges" class="form-control" name="del_charges">
                        </div>
                      </div>
                      <div class="row mt-1">
                        <div class="offset-2 col-md-4 mt-1 text-right">
                          <label for="grand_total">Grand Total</label>
                        </div>
                        <div class="col-md-6">
                          <input type="text" formControlName="grand_total" id="grand_total" class="form-control" name="grand_total"
                            readonly>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-actions right">
              <input type="submit" value="Save" class="btn btn-raised btn-primary">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Product Modal  -->
<ng-template #product_modal let-modal>
  <div class="modal-header">
    <!-- <h4 class="modal-title" id="modal-basic-title"> <strong>Profile Update</strong></h4> -->
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-body">
        <h4 class="form-section"><i class="ft-info"></i>Product Details</h4>
        <div class="row">
          <div class="col-md-8">
            <div class="form-group">
              <label for="product_name">Product Name</label>
              <ng-select name="product_name" [searchable]="true" [items]="products" bindLabel="product_trade_name"
                (ngModelChange)="update_model_price($event)" [(ngModel)]='newAttribute.product_name'>
              </ng-select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="product_qty">Qty</label>
              <input type="text" id="product_qty" class="form-control" name="product_qty" [(ngModel)]='newAttribute.product_qty'>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="product_rate">Rate</label>
              <input type="text" id="product_rate" class="form-control" name="product_rate" [(ngModel)]='newAttribute.product_rate'>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="product_applied_gst_percentage">Applied GST %</label>
              <input type="text" id="product_applied_gst_percentage" class="form-control" name="product_applied_gst_percentage"
                [(ngModel)]='newAttribute.product_gst_percent'>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="product_applied_gst_rate">Applied GST Rate</label>
              <input type="text" id="product_applied_gst_rate" class="form-control" name="product_applied_gst_rate"
                [(ngModel)]='newAttribute.product_gst_rate'>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="product_sub_total">Sub Total</label>
              <input type="text" id="product_sub_total" class="form-control" name="product_sub_total" [(ngModel)]='newAttribute.product_sub_total'>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="addFieldValue(); modal.close('')">Add and close</button>
    <button type="button" class="btn btn-outline-dark" (click)="addFieldValue()">Add</button>
  </div>
</ng-template>
