<div id="fab-dismiss" 
     *ngIf="fabTogglerState==='active'" 
     (click)="onToggleFab()">
</div>
<div class="fab-container">
  <button class="fab-toggler btn btn-round btn-microsoft btn-large"
          (click)="onToggleFab()">
    <i class="fa fa-plus" [@fabToggler]="{value: fabTogglerState}"></i>
  </button>
  <div [@speedDialStagger]="buttons.length">
    <div *ngFor="let btn of buttons">
     
    <button class="btn-round"
            [ngClass]="[btn.button]"
            (click)="goToLink(btn.link)">
      <i [ngClass]="[btn.icon]"></i> 
    </button>
  </div>
  </div>
</div>