<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title" id="basic-layout-colored-form-control">Add New Deal</h4>
            </div>
            <div class="card-body">
                <div class="px-3">
                    <form class="form">
                        <!-- <form class="form" [formGroup]="coa_data" (ngSubmit)="addOrUpdate(coa_data)"> -->
                        <div class="form-body">
                            <h4 class="form-section"><i class="ft-info"></i> Basic Information</h4>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="first_name">First Name</label>
                                        <input type="text" formControlName="first_name" id="first_name" class="form-control border-primary" name="first_name">
                                        <input type="hidden" formControlName="id" id="id" class="form-control border-primary" name="id">
                                        <input type="hidden" formControlName="address_id" id="address_id" value="new" class="form-control border-primary" name="address_id">

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="last_name">Last Name</label>
                                        <input type="text" formControlName="last_name" id="ca_company_display_name" class="form-control border-primary" name="last_name">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="stage">Deal Stage</label>
                                        <select class="form-control" formControlName="stage" id="stage">
                                      <option>Select Option</option>
                                      <option>New</option>
                                      <option>Follow-Up</option>
                                      <option>Under Review</option>
                                      <option>Demo</option>
                                      <option>Negotation</option>
                                      <option>Won</option>
                                      <option>Lost</option>
                                    </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="product">Product</label>
                                        <select class="form-control" formControlName="product" id="product">
                                    <option>Select Option</option>
                                    <option>Product 1</option>
                                    <option>Product 2</option>
                                    <option>Product 3</option>
                                  </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="value">Deal Value</label>
                                        <input type="text" formControlName="value" id="value" class="form-control border-primary" name="value">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="Payment_status">Payment Status</label>
                                        <select class="form-control" formControlName="Payment_status" id="dePayment_statusal_account_name">
                                    <option>Select Option</option>
                                    <option>Online</option>
                                    <option>Offline</option>
                                  </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="expected_close_date">Expected Close Date</label>
                                        <input type="date" formControlName="expected_close_date" id="issueinput3" class="form-control" name="expected_close_date" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Date Opened">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="probablity">Probablity</label>
                                        <input type="text" formControlName="probablity" id="probablity" class="form-control border-primary" name="probablity">
                                    </div>
                                </div>
                            </div>
                            <h4 class="form-section mt-1"><i class="ft-info"></i> Source Information</h4>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="type">Type</label>
                                        <select class="form-control" formControlName="type" id="type">
                                        <option>Select Option</option>
                                        <option>New Business</option>
                                        <option>Existing Business-Renewal</option>
                                        <option>Existing Business-Upgrade</option>
                                      </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="source">Source</label>
                                        <select class="form-control" formControlName="source" id="source">
                                      <option>Select Option</option>
                                      <option>Web</option>
                                      <option>Organic Search</option>
                                      <option>Email</option>
                                    </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="campaign">Campaign</label>
                                        <select class="form-control" formControlName="campaign" id="campaign">
                                      <option>Select Option</option>
                                      <option>Option 1</option>
                                      <option>Option 2</option>
                                      <option>Option 3</option>
                                    </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions left">
                            <input type="submit" value="Save" class="btn btn-raised btn-primary">
                            <input type="button" value="Cancel" (click)='cancel()' class="btn btn-raised ml-1 btn-danger">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>