<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title" id="basic-layout-colored-form-control">Add New Contact</h4>
            </div>
            <div class="card-body">
                <div class="px-3">
                    <form class="form">
                        <!-- <form class="form" [formGroup]="coa_data" (ngSubmit)="addOrUpdate(coa_data)"> -->
                        <div class="form-body">
                            <h4 class="form-section"><i class="ft-info"></i> Basic Information</h4>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="contact_first_name">First Name</label>
                                        <input type="text" formControlName="contact_first_name" placeholder="Roxso LLP" id="contact_first_name" class="form-control border-primary" name="contact_first_name">
                                        <input type="hidden" formControlName="id" id="id" class="form-control border-primary" name="id">
                                        <input type="hidden" formControlName="address_id" id="address_id" value="new" class="form-control border-primary" name="address_id">

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="contact_last_name">Last Name</label>
                                        <input type="text" formControlName="contact_last_name" id="ca_company_display_name" placeholder="Roxso" class="form-control border-primary" name="contact_last_name">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="contact_email">Email</label>
                                        <input type="text" formControlName="contact_email" id="contact_email" class="form-control border-primary" name="contact_email">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="contact_primary_contact_number">Primary Contact Number</label>
                                        <input type="text" formControlName="contact_primary_contact_number" id="contact_primary_contact_number" class="form-control border-primary" name="contact_primary_contact_number">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="contact_account_name">Account Name</label>
                                        <select class="form-control" formControlName="contact_account_name" id="contact_account_name">
                                        <option>Select Option</option>
                                        <option>Option 1</option>
                                        <option>Option 2</option>
                                        <option>Option 3</option>
                                      </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="contact_job_title">Job Title</label>
                                        <input type="text" formControlName="contact_job_title" id="contact_job_title" class="form-control border-primary" name="contact_job_title">
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="contact_department">Department</label>
                                        <input type="text" formControlName="contact_department" id="contact_department" class="form-control border-primary" name="contact_department">
                                    </div>
                                </div>
                            </div>
                            <h4 class="form-section mt-1"><i class="ft-info"></i> Other Details</h4>
                            <div class="row">
                                <div class="col-md-12">
                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link" [class.active]="active=='today'" (click)="active='today'" role="tab"> Telephone No.</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link active" [class.active]="active=='missed'" (click)="active='missed'" role="tab">Address</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" [class.active]="active=='social'" (click)="active='social'" role="tab">Social</a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link" [class.active]="active=='source'" (click)="active='source'" role="tab">Source Info</a>
                                        </li>

                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane active" [class.active]="active=='today'" id="today" role="tabpanel">

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="contact_work">Work</label>
                                                        <input type="text" formControlName="contact_work" id="contact_work" class="form-control border-primary" name="contact_work">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="contact_mobile">Mobile</label>
                                                        <input type="text" formControlName="contact_mobile" id="contact_mobile" class="form-control border-primary" name="contact_mobile">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="contact_status">Status</label>
                                                        <select class="form-control" formControlName="contact_status" id="contact_status">
                                                        <option>Qualified Lead</option>
                                                        <option>Prospect</option>
                                                        <option>Customer</option>
                                                        <option>Lost</option>
                                                        <option>Partner</option>
                                                        <option>Reseller</option>
                                                        <option>Other</option>
                                                      </select>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="contact_business_type">Business Type</label>
                                                        <select class="form-control" formControlName="contact_business_type" id="contact_business_type">
                                                        <option>Analyst</option>
                                                        <option>Competitor</option>
                                                        <option>Customer</option>
                                                        <option>Integrator</option>
                                                      </select>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="tab-pane" [class.active]="active=='missed'" id="missed" role="tabpanel">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="contact_building_no">Block No./ Building Name</label>
                                                        <input type="text" formControlName="ca_address_building" class="form-control" id="ca_address_building" name="ca_address_building">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="contact_road_number">Road Name</label>
                                                        <input type="text" formControlName="contact_road_number" class="form-control" id="contact_road_number" name="contact_road_number">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="contact_landmark">Landmark</label>
                                                        <input type="text" formControlName="contact_landmark" class="form-control" id="contact_landmark" name="contact_landmark">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="contact_pincode">Pincode</label>
                                                        <input type="text" formControlName="contact_pincode" class="form-control" id="contact_pincode" name="contact_pincode">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="contact_country">Country</label>
                                                        <select class="form-control" formControlName="contact_country" id="contact_country">
                                                        <option>Select Option</option>
                                                        <option>India</option>
                                                        <option>China</option>
                                                        <option>Nepal</option>
                                                      </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="contact_state">State</label>
                                                        <select class="form-control" formControlName="contact_state" id="contact_state">
                                                        <option>Select Option</option>
                                                        <option>Maharashtra</option>
                                                        <option>Gujarat</option>
                                                        <option>Rajasthan</option>
                                                      </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="contact_city">City</label>
                                                        <select class="form-control" formControlName="contact_city" id="contact_city">
                                                        <option>Select Option</option>
                                                        <option>Mumbai</option>
                                                        <option>Nagpur</option>
                                                        <option>Thane</option>
                                                      </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" [class.active]="active=='social'" id="social" role="tabpanel">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="contact_facebook">Facebook</label>
                                                        <input type="text" formControlName="contact_facebook" id="contact_facebook" class="form-control border-primary" name="contact_facebook" placeholder="https://www.facebook.com/empocus">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="contact_twitter">Twitter</label>
                                                        <input placeholder="https://twitter.com/empocus" type="text" formControlName="contact_twitter" id="contact_twitter" class="form-control border-primary" name="contact_twitter">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="contact_linkedin">Linkedin</label>
                                                        <input placeholder="https://linkedin.com/empocus" type="text" formControlName="contact_linkedin" id="contact_linkedin" class="form-control border-primary" name="contact_linkedin">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" [class.active]="active=='source'" id="source" role="tabpanel">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="contact_source">Source</label>
                                                        <select class="form-control" formControlName="contact_source" id="contact_source">
                                                        <option>Select Option</option>
                                                        <option>Web</option>
                                                        <option>Organic Search</option>
                                                        <option>Email</option>
                                                      </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="contact_campaign">Campaign</label>
                                                        <select class="form-control" formControlName="contact_campaign" id="contact_campaign">
                                                        <option>Select Option</option>
                                                        <option>Option 1</option>
                                                        <option>Option 2</option>
                                                        <option>Option 3</option>
                                                      </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="contact_medium">Medium</label>
                                                        <input type="text" formControlName="contact_medium" class="form-control" id="contact_medium" name="contact_medium">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="contact_keyword">Keyword</label>
                                                        <input type="text" formControlName="contact_keyword" class="form-control" id="contact_keyword" name="contact_keyword">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions left">
                            <input type="submit" value="Save" class="btn btn-raised btn-primary">
                            <input type="button" value="Cancel" (click)='cancel()' class="btn btn-raised ml-1 btn-danger">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>