<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title" id="basic-layout-colored-form-control">Add New Contact</h4>
            </div>
            <div class="card-body">
                <div class="px-3">
                    <!-- <form class="form"> -->
                    <form class="form" [formGroup]="data" (ngSubmit)="addOrUpdate(data)">
                        <div class="form-body">
                            <h4 class="form-section"><i class="ft-info"></i> Basic Information</h4>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="first_name">First Name</label>
                                        <input type="text" formControlName="first_name" placeholder="Roxso LLP" id="first_name" class="form-control border-primary" name="first_name">
                                        <input type="hidden" formControlName="id" id="id" class="form-control border-primary" name="id">
                                        <input type="hidden" formControlName="address_id" id="address_id" value="new" class="form-control border-primary" name="address_id">

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="last_name">Last Name</label>
                                        <input type="text" formControlName="last_name" id="last_name" placeholder="Roxso" class="form-control border-primary" name="last_name">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="text" formControlName="email" id="email" class="form-control border-primary" name="email">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="primary_number">Primary Contact Number</label>
                                        <input type="text" formControlName="primary_number" id="primary_number" class="form-control border-primary" name="primary_number">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="account_name">Account Name</label>
                                        <app-account-select [parentForm]="data" [controlName]="'account_name'"></app-account-select>
                                        <!-- <select class="form-control" formControlName="account_name" id="account_name">
                                        <option>Select Option</option>
                                        <option>Option 1</option>
                                        <option>Option 2</option>
                                        <option>Option 3</option>
                                      </select> -->
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="job_title">Job Title</label>
                                        <input type="text" formControlName="job_title" id="job_title" class="form-control border-primary" name="job_title">
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="department">Department</label>
                                        <input type="text" formControlName="department" id="department" class="form-control border-primary" name="department">
                                    </div>
                                </div>
                            </div>
                            <h4 class="form-section mt-1"><i class="ft-info"></i> Other Details</h4>
                            <div class="row">
                                <div class="col-md-12">
                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link" [class.active]="active=='today'" (click)="active='today'" role="tab"> Telephone No.</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link active" [class.active]="active=='missed'" (click)="active='missed'" role="tab">Address</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" [class.active]="active=='social'" (click)="active='social'" role="tab">Social</a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link" [class.active]="active=='source'" (click)="active='source'" role="tab">Source Info</a>
                                        </li>

                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane active" [class.active]="active=='today'" id="today" role="tabpanel">

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="work">Work</label>
                                                        <input type="text" formControlName="work" id="work" class="form-control border-primary" name="work">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="mobile">Mobile</label>
                                                        <input type="text" formControlName="mobile" id="mobile" class="form-control border-primary" name="mobile">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="status">Status</label>
                                                        <select class="form-control" formControlName="status" id="status">
                                                        <option>Qualified Lead</option>
                                                        <option>Prospect</option>
                                                        <option>Customer</option>
                                                        <option>Lost</option>
                                                        <option>Partner</option>
                                                        <option>Reseller</option>
                                                        <option>Other</option>
                                                      </select>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="business_type">Business Type</label>
                                                        <select class="form-control" formControlName="business_type" id="business_type">
                                                        <option>Analyst</option>
                                                        <option>Competitor</option>
                                                        <option>Customer</option>
                                                        <option>Integrator</option>
                                                      </select>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="tab-pane" [class.active]="active=='missed'" id="missed" role="tabpanel">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="contact_address_building">Block No./ Building Name</label>
                                                        <input type="text" formControlName="contact_address_building" class="form-control" id="contact_address_building" name="contact_address_building">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="contact_address_road_name">Road Name</label>
                                                        <input type="text" formControlName="contact_address_road_name" class="form-control" id="contact_address_road_name" name="contact_address_road_name">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="contact_address_landmark">Landmark</label>
                                                        <input type="text" formControlName="contact_address_landmark" class="form-control" id="contact_address_landmark" name="contact_address_landmark">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="contact_address_pincode">Pincode</label>
                                                        <input type="text" formControlName="contact_address_pincode" class="form-control" id="contact_address_pincode" name="contact_address_pincode">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="contact_address_country">Country</label>
                                                        <select class="form-control" formControlName="contact_address_country" id="contact_address_country">
                                                        <option>Select Option</option>
                                                        <option>India</option>
                                                        <option>China</option>
                                                        <option>Nepal</option>
                                                      </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="contact_address_state">State</label>
                                                        <select class="form-control" formControlName="contact_address_state" id="contact_address_state">
                                                        <option>Select Option</option>
                                                        <option>Maharashtra</option>
                                                        <option>Gujarat</option>
                                                        <option>Rajasthan</option>
                                                      </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="contact_address_city">City</label>
                                                        <select class="form-control" formControlName="contact_address_city" id="contact_address_city">
                                                        <option>Select Option</option>
                                                        <option>Mumbai</option>
                                                        <option>Nagpur</option>
                                                        <option>Thane</option>
                                                      </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" [class.active]="active=='social'" id="social" role="tabpanel">
                                            <!-- <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="facebook_link">Facebook</label>
                                                        <input type="text" formControlName="facebook_link" id="facebook_link" class="form-control border-primary" name="facebook_link" placeholder="https://www.facebook.com/empocus">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="twitter_link">Twitter</label>
                                                        <input placeholder="https://twitter.com/empocus" type="text" formControlName="twitter_link" id="twitter_link" class="form-control border-primary" name="twitter_link">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="linkedin">Linkedin</label>
                                                        <input placeholder="https://linkedin.com/empocus" type="text" formControlName="linkedin_link" id="linkedin_link" class="form-control border-primary" name="linkedin_link">
                                                    </div>
                                                </div>
                                            </div> -->
                                            <div class="row d-flex flex-column">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="facebook_link">https://facebook.com/{{facebook}}</label>
                                                            <input   [(ngModel)]="facebook" type="text" formControlName="facebook_link" id="facebook_link" class="form-control border-primary" name="facebook_link">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="twitter_link">https://twitter.com/{{twitter}}</label>
                                                            <input [(ngModel)]="twitter" type="text" formControlName="twitter_link" id="twitter_link" class="form-control border-primary" name="twitter_link">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="linkedin_link">https://linkedin.com/company/{{linkedin}}</label>
                                                            <input [(ngModel)]="linkedin" type="text" formControlName="linkedin_link" id="linkedin_link" class="form-control border-primary" name="linkedin_link">
                                                        </div>
                                                    </div>
                                                </div>
                                        </div>
                                        <div class="tab-pane" [class.active]="active=='source'" id="source" role="tabpanel">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="source">Source</label>
                                                        <select class="form-control" formControlName="source" id="source">
                                                        <option>Select Option</option>
                                                        <option>Web</option>
                                                        <option>Organic Search</option>
                                                        <option>Email</option>
                                                      </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="campaign">Campaign</label>
                                                        <!-- <select class="form-control" formControlName="campaign" id="campaign">
                                                        <option>Select Option</option>
                                                        <option>Option 1</option>
                                                        <option>Option 2</option>
                                                        <option>Option 3</option>
                                                      </select> -->
                                                        <input type="text" formControlName="campaign" id="campaign" class="form-control border-primary" name="campaign">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="medium">Medium</label>
                                                        <input type="text" formControlName="medium" class="form-control" id="medium" name="medium">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="keyword">Keyword</label>
                                                        <input type="text" formControlName="keyword" class="form-control" id="keyword" name="keyword">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions left">
                            <input type="submit" value="Save" class="btn btn-raised btn-primary">
                            <input type="button" value="Cancel" (click)='cancel()' class="btn btn-raised ml-1 btn-danger">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>