<div class="wrapper">
    <div class="main-panel">
        <div class="main-content" style="padding-left: 0px">
            <div class="content-wrapper">
                <section id="login">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xl-3 col-lg-6 col-12">
                            </div>
                        </div>
                        <div class="row full-height-vh">
                            <div class="col-12 d-flex align-items-center justify-content-center">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="width-800 mt-3">
                                            <br>
                                            <div class="col-12">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h4 class="card-title text-center" style="text-transform: capitalize !important;font-weight: 400;font-size: 1.5rem;">First, let's complete the company setup process</h4>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="card-block">
                                                            <form [formGroup]="company_data" (ngSubmit)="onSubmit(company_data)" class="icons-tab-steps wizard-circle">
                                                                <h6 class="text-left">Info</h6>
                                                                <fieldset>
                                                                    <div class="row">
                                                                        <div class="col-md-8 offset-md-2">
                                                                            <div class="form-group">
                                                                                <label for="CName">Company Name</label>
                                                                                <input type="text" class="form-control" 
                                                                                formControlName="company_name" id="CName" name="CName">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-8 offset-md-2">
                                                                            <div class="form-group">
                                                                                <label for="DName">Company Display Name</label>
                                                                                <input type="text" class="form-control" formControlName="company_display_name" id="DName" name="DName">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-8 offset-md-2">
                                                                            <div class="form-group">
                                                                                <label for="fax">FAX Number</label>
                                                                                <input type="text" class="form-control"
                                                                                formControlName="company_fax_number" id="fax" name="fax">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-8 offset-md-2">
                                                                            <div class="form-group">
                                                                                <label for="website">Website</label>
                                                                                <input type="text" class="form-control" formControlName="company_website" id="website" name="website">
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                </fieldset>
                                                                <!-- Step 2 -->
                                                                <h6>H.O. Address</h6>
                                                                <fieldset>
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                <label for="bbn">Block No./ Building Name</label>
                                                                                <input type="text" class="form-control"
                                                                                formControlName="company_address_building_name" id="bbn" name="bbn">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                <label for="inputRName">Road Name</label>
                                                                                <input type="text" class="form-control"
                                                                                formControlName="company_address_road_name" id="inputRName" name="inputRNamev">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                <label for="lmark">Landmark</label>
                                                                                <input type="text" class="form-control"
                                                                                formControlName="company_address_landmark" id="lmark" name="lmark">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                <label for="pincode">Pincode</label>
                                                                                <input type="text" class="form-control" id="pincode" formControlName="company_address_pincode" name="pincode">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                <label for="countrySelect">Country</label>
                                                                                <select 
                                                                                formControlName="company_address_country"
                                                                                class="form-control" id="countrySelect">
                                                                                    <option>Select Option</option>
                                                                                    <option>India</option>
                                                                                    <option>China</option>
                                                                                    <option>Nepal</option>
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                <label for="stateSelect">State</label>
                                                                                <select
                                                                                formControlName="company_address_state"
                                                                                 class="form-control" id="stateSelect">
                                                                                    <option>Select Option</option>
                                                                                    <option>Maharashtra</option>
                                                                                    <option>Gujarat</option>
                                                                                    <option>Rajasthan</option>
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                <label for="City">City</label>
                                                                                <select
                                                                                formControlName="company_address_state" class="form-control" id="CitySelect">
                                                                                    <option>Select Option</option>
                                                                                    <option>Mumbai</option>
                                                                                    <option>Nagpur</option>
                                                                                    <option>Thane</option>
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </fieldset>
                                                                <!-- Step 3 -->
                                                                <h6>Godown</h6>
                                                                <fieldset>
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                <label for="GName">Godown Name</label>
                                                                                <input formControlName="company_address_godown_name" type="text" class="form-control" id="GName" name="GName">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                <label for="GCode">Godown Code</label>
                                                                                <input formControlName="company_address_godown_code" type="text" class="form-control" id="GCode" name="GCode">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                <label for="bbn">Block No./ Building Name</label>
                                                                                <input formControlName="company_godown_address_building_name" type="text" class="form-control" id="bbn" name="bbn">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                <label for="inputRName">Road Name</label>
                                                                                <input formControlName="company_godown_address_road_name" type="text" class="form-control" id="inputRName" name="inputRNamev">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                <label for="lmark">Landmark</label>
                                                                                <input
                                                                                formControlName="company_godown_address_landmark"
                                                                                 type="text" class="form-control" id="lmark" name="lmark">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                <label for="pincode">Pincode</label>
                                                                                <input
                                                                                 formControlName="company_godown_address_pincode"
                                                                                 type="text" class="form-control" id="pincode" name="pincode">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                <label for="countrySelect">Country</label>
                                                                                <select
                                                                                formControlName="company_godown_address_country"
                                                                                 class="form-control" id="countrySelect">
                                                                                    <option>Select Option</option>
                                                                                    <option>India</option>
                                                                                    <option>China</option>
                                                                                    <option>Nepal</option>
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                <label for="stateSelect">State</label>
                                                                                <select
                                                                                formControlName="company_godown_address_state"
                                                                                 class="form-control" id="stateSelect">
                                                                                    <option>Select Option</option>
                                                                                    <option>Maharashtra</option>
                                                                                    <option>Gujarat</option>
                                                                                    <option>Rajasthan</option>
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                <label for="City">City</label>
                                                                                <select 
                                                                                formControlName="company_godown_address_city"
                                                                                class="form-control" id="CitySelect">
                                                                                    <option>Select Option</option>
                                                                                    <option>Mumbai</option>
                                                                                    <option>Nagpur</option>
                                                                                    <option>Thane</option>
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <div class="checkbox">
                                                                            <div class="custom-control custom-checkbox m-0">
                                                                                <input

                                                                                 type="checkbox" class="custom-control-input" id="staffing">
                                                                                <label class="custom-control-label" for="staffing">Address same as Head Office</label>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                </fieldset>

                                                                <!--Step 4  -->
                                                                <h6>Bank</h6>
                                                                <fieldset>
                                                                    <div class="row">
                                                                        <div class="col-md-8 offset-md-2">
                                                                            <div class="form-group">
                                                                                <label for="AccNo">Account Number</label>
                                                                                <input type="text" class="form-control"  formControlName="company_bank_account_number" id="AccNo" name="AccNo" required>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-8 offset-md-2">
                                                                            <div class="form-group">
                                                                                <label for="BName">Bank Name</label>
                                                                                <input type="text" class="form-control"  formControlName="company_bank_name" id="BName" name="BName" required>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-8 offset-md-2">
                                                                            <div class="form-group">
                                                                                <label for="IFSC">IFSC Code</label>
                                                                                <input formControlName="company_bank_ifsc_code" type="text" class="form-control" id="IFSC"  name="IFSC" required>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-8 offset-md-2">
                                                                            <div class="form-group">
                                                                                <label for="BAddress">Bank Address</label>
                                                                                <input type="text" formControlName="company_bank_address" class="form-control" id="BAddress" name="BAddress">
                                                                            </div>
                                                                        </div>
                                                                    </div>


                                                                </fieldset>

                                                                <!--Step 5-->
                                                                <h6>Other Details</h6>
                                                                <fieldset>
                                                                    <div class="row">
                                                                        <div class="col-md-8 offset-md-2">
                                                                            <div class="form-group">
                                                                                <label for="PAN">PAN Number</label>
                                                                                <input type="text" class="form-control" id="PAN" formControlName="company_pan_number" name="PAN" required>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-8 offset-md-2">
                                                                            <div class="form-group">
                                                                                <label for="TAN">TAN Number</label>
                                                                                <input type="text" class="form-control"formControlName="company_tan_number" id="TAN" name="TAN" required>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-8 offset-md-2">
                                                                            <div class="form-group">
                                                                                <label for="gstn">GST Number</label>
                                                                                <input type="text" class="form-control" formControlName="company_gst_number" id="gstn" name="gstn" required>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-8 offset-md-2">
                                                                            <div class="form-group">
                                                                                <label for="ENumber">E.C.C Number</label>
                                                                                <input type="text" class="form-control" id="ENumber" formControlName="company_ecc_number" name="ENumber">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-8 offset-md-2">
                                                                            <div class="form-group">
                                                                                <label for="Dcode">Division Code</label>
                                                                                <input type="text" formControlName="company_division_code" class="form-control" id="Dcode" name="Dcode">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-8 offset-md-2">
                                                                            <div class="form-group">
                                                                                <label for="CNumber">CIN Number</label>
                                                                                <input type="text" formControlName="company_cin_number" class="form-control" id="CNumber" name="CNumber">
                                                                            </div>
                                                                        </div>
                                                                    </div>


                                                                </fieldset>

                                                                <!-- Step 6 -->
                                                                <h6>Logo</h6>
                                                                <fieldset class="form-group">
                                                                    <label for="basicInputFile">Select Logo</label>
                                                                    <input type="file" class="form-control-file" id="basicInputFile">
                                                                </fieldset>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>