<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-header">
                <div class="col-lg-12 pl-0">
                    <p class="text-left" style="text-transform: capitalize !important;font-weight: 500;font-size: 1.5rem;">Task</p>
                </div>
            </div>
            <div class="card-body">
                <div class="card-block">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-12">
                                    <span class="h6 text-muted text-bold-400 "><i class="ft-info"></i> Task Details</span>
                                    <hr class="mt-0">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 d-flex flex-column ">
                                    <span class="h6 text-primary text-bold-400 "><small>Title</small></span>
                                    <span class="h6 text-bold-400  text-gray ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, neque!</span>
                                </div>
                                <div class="col-lg-6 d-flex flex-column ">
                                    <span class="h6 text-primary text-bold-400 "><small>Due Date</small></span>
                                    <span class="h6 text-bold-400  text-gray "><span>21 January 2018</span> at <span>9:00 AM</span>
                                    </span>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-lg-6 d-flex flex-column ">
                                    <span class="h6 text-primary text-bold-400 "><small>Task Type</small></span>
                                    <span class="h6 text-bold-400  text-gray ">Follow Up</span>
                                </div>
                                <div class="col-lg-6 d-flex flex-column ">
                                    <span class="h6 text-primary text-bold-400 "><small>Outcome</small></span>
                                    <span class="h6 text-bold-400  text-gray ">Intrested</span>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-lg-6 d-flex flex-column ">
                                    <span class="h6 text-primary text-bold-400 "><small>Related To</small></span>
                                    <span class="h6 text-bold-400  text-gray ">Lorem ipsum dolor sit amet.</span>
                                </div>
                                <div class="col-lg-6 d-flex flex-column ">
                                    <span class="h6 text-primary text-bold-400 "><small>Attendees</small></span>
                                    <span class="h6 text-bold-400  text-gray ">Rehman, Jatin, Pratik</span>
                                </div>
                            </div>

                            <div class="row mt-2 ">
                                <div class="col-lg-12 d-flex flex-column ">
                                    <span class="h6 text-primary text-bold-400 "><small>Description</small></span>
                                    <span class="h6 text-bold-400  text-gray ">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut nulla incidunt laborum aliquam beatae doloremque in ipsam fugit officia eum odit, numquam facere provident, quaerat aliquid quas eaque, cumque praesentium?</span>
                                </div>
                            </div>
                        </div>
                    </div>




                </div>
            </div>
        </div>
    </div>
</div>