<button class="btn btn-primary btn-raised" (click)="toNext()">Create New</button>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table">
                            <thead>
                                <th>Branch Name</th>
                                <th>Gst Number</th>
                                <th>Branch Code</th>
                                <th>Godown</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let branch of rows">
                                    <td>{{branch.branch_name}}</td>
                                    <td>{{branch.branch_gst_number}}</td>
                                    <td>{{branch.branch_code}}</td>
                                    <td>{{branch.branch_godown}}</td>
                                    <td>
                                        <button type="button" (click)="edit(branch.id)" class="btn btn-success btn-raised">Edit</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <button class="btn btn-primary btn-raised" (click)="toNext()">Next Page</button> -->