<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="col-lg-12 pl-0">
                    <p class="text-left" style="text-transform: capitalize !important;font-weight: 400;font-size: 1.5rem;">Wastage</p>
                </div>
            </div>
            <div class="card-body">
                <div class="card-block">
                    <div class="row">
                        <div class="col-lg-12">
                            <form [formGroup]="form" (ngSubmit)="submit()">
                                <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form">
                                </formly-form>
                            </form>
                        </div>
                    </div>
                    <button (click)="toFinish(form)" [disabled]=isProcessing class="btn btn-raised btn-primary">Finish</button>
                </div>
            </div>
        </div>
    </div>
</div>