<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <div class="col-lg-12 pl-0">
          <p class="text-left" style="text-transform: capitalize !important;font-weight: 400;font-size: 1.5rem;">Branch
            Details
          </p>
        </div>
      </div>
      <div class="card-body">
        <div class="card-block">
         
          <div class="row" *ngIf="branch">
              <div class="col-12 col-md-6 col-lg-4">
                  <ul class="no-list-style">
                      <li  class="mb-2">
                          <span class="text-bold-500 primary"><a >Branch Name:</a></span>
                          <span class="display-block overflow-hidden">{{branch.branch_name}}</span>
                      </li>
                      <li  class="mb-2">
                          <span  class="text-bold-500 primary"><a >Branch GST Number:</a></span>
                          <span  class="display-block overflow-hidden">{{branch.branch_gst_number}}</span>
                      </li>
                      <li  class="mb-2">
                          <span  class="text-bold-500 primary"><a ><i  class="ft-globe font-small-3"></i> Lives in:</a></span>
                          <span  class="display-block overflow-hidden">Denver, USA</span>
                      </li>
                  </ul>
              </div>
              <div  class="col-12 col-md-6 col-lg-4">
                  <ul  class="no-list-style">
                      <li  class="mb-2">
                          <span  class="text-bold-500 primary"><a ><i  class="ft-user font-small-3"></i> Gender:</a></span>
                          <span  class="display-block overflow-hidden">Male</span>
                      </li>
                      <li  class="mb-2">
                          <span  class="text-bold-500 primary"><a ><i  class="ft-mail font-small-3"></i> Email:</a></span>
                          <a  class="display-block overflow-hidden">jose@yourmail.com</a>
                      </li>
                      <li  class="mb-2">
                          <span  class="text-bold-500 primary"><a ><i  class="ft-monitor font-small-3"></i> Website:</a></span>
                          <a  class="display-block overflow-hidden">pixinvent.com</a>
                      </li>
                  </ul>
              </div>
              <div  class="col-12 col-md-6 col-lg-4">
                  <ul  class="no-list-style">
                      <li  class="mb-2">
                          <span  class="text-bold-500 primary"><a ><i  class="ft-smartphone font-small-3"></i> Phone Number:</a></span>
                          <span  class="display-block overflow-hidden">(012) 345 - 678 - 9910</span>
                      </li>
                      <li  class="mb-2">
                          <span  class="text-bold-500 primary"><a ><i  class="ft-briefcase font-small-3"></i> Occupation:</a></span>
                          <span  class="display-block overflow-hidden">Ninja Developer</span>
                      </li>
                      <li  class="mb-2">
                          <span  class="text-bold-500 primary"><a ><i  class="ft-book font-small-3"></i> Joined:</a></span>
                          <span  class="display-block overflow-hidden">April 1st, 2012</span>
                      </li>
                  </ul>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
