<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="col-lg-12 pl-0">
                    <p class="text-left" style="text-transform: capitalize !important;font-weight: 500;font-size: 1.5rem;"><strong>Appointment</strong>
                    </p>
                </div>
            </div>
            <div class="card-body">
                <div class="card-block">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-12">
                                    <span class="h5 text-muted text-bold-400 "><i class="ft-info"></i> Basic Information</span>
                                    <hr class="mt-0">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 d-flex flex-column ">
                                    <span class="h6 text-gray text-bold-400 "><small>Client Name</small></span>
                                    <span class="h5 text-bold-400  text-primary "><strong>Roxco India PVT LTD</strong></span>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-lg-4 d-flex flex-column ">
                                    <span class="h6 text-gray text-bold-400 "><small>Title</small></span>
                                    <span class="h5 text-bold-400  text-primary "><strong>Meeting 2</strong></span>
                                </div>
                            </div>
                            <div class="row mt-2 ">
                                <div class="col-lg-4 d-flex flex-column ">
                                    <span class="h6 text-gray text-bold-400 "><small>From</small></span>
                                    <span class="h5 text-bold-400  text-primary "><strong><span>21 January 2018</span> at <span>9:00 AM</span> </strong>
                                    </span>
                                </div>
                                <div class="col-lg-4 d-flex flex-column ">
                                    <span class="h6 text-gray text-bold-400 "><small>To</small></span>
                                    <span class="h5 text-bold-400  text-primary "><strong><span>21 January 2018</span> at <span>9:00 AM</span> </strong>
                                    </span>
                                </div>
                                <div class="col-lg-4 d-flex flex-column ">
                                    <span class="h6 text-gray text-bold-400 "><small>Industry Type</small></span>
                                    <span class="h5 text-bold-400  text-primary "><strong>Automatic</strong></span>
                                </div>
                            </div>
                            <div class="row mt-2 ">
                                <div class="col-lg-4 d-flex flex-column ">
                                    <span class="h6 text-gray text-bold-400 "><small>Business Type</small></span>
                                    <span class="h5 text-bold-400  text-primary "><strong>Competitor</strong></span>
                                </div>
                                <div class="col-lg-4 d-flex flex-column ">
                                    <span class="h6 text-gray text-bold-400 "><small>Address</small></span>
                                    <span class="h5 text-bold-400  text-primary "><strong>Mumbai, Maharashtra, India</strong></span>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-12">
                                    <span class="h5 text-muted text-bold-400 "><i class="ft-info"></i> Social</span>
                                    <hr class="mt-0">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 d-flex flex-column ">
                                    <span class="h6 text-gray text-bold-400 "><small><i class="ft-facebook"></i> Facebook</small></span>
                                    <a href="#"> <span class="h5 text-bold-400  text-primary "><strong>bitmanity</strong></span></a>
                                </div>
                                <div class="col-lg-4 d-flex flex-column ">
                                    <span class="h6 text-gray text-bold-400 "><small><i class="ft-twitter"></i> Twitter</small></span>
                                    <a href="#"> <span class="h5 text-bold-400  text-primary "><strong>bitmanity</strong></span></a>
                                </div>
                                <div class="col-lg-4 d-flex flex-column ">
                                    <span class="h6 text-gray text-bold-400 "><small><i class="ft-linkedin"></i> Linkedin</small></span>
                                    <a href="#"> <span class="h5 text-bold-400  text-primary "><strong>bitmanity</strong></span></a>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>