<div class="row">
    <div class="col-12">
        <div class="card" *ngIf="data">
            <div class="card-header">
                <div class="col-lg-12 pl-0">
                    <p class="text-left" style="text-transform: capitalize !important;font-weight: 500;font-size: 1.5rem;"><strong>Leads</strong>
                    </p>
                </div>
            </div>
            <div class="card-body">
                <div class="card-block">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-12">
                                    <span class="h5 text-muted text-bold-400 "><i class="ft-info"></i> Basic Information</span>
                                    <hr class="mt-0">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 d-flex flex-column ">
                                    <span class="h6 text-gray text-bold-400 "><small>Name</small></span>
                                    <span class="h5 text-bold-400  text-primary "><strong>{{data.account_name}}</strong></span>
                                </div>
                                <div class="col-lg-4 d-flex flex-column ">
                                    <span class="h6 text-gray text-bold-400 "><small>Number of Employee</small></span>
                                    <span class="h5 text-bold-400  text-primary "><strong>{{data.account_employee_number}}</strong></span>
                                </div>
                                <div class="col-lg-4 d-flex flex-column ">
                                    <span class="h6 text-gray text-bold-400 "><small>Website</small></span>
                                    <span class="h5 text-bold-400  text-primary "><strong>{{data.account_website}}</strong></span>
                                </div>
                            </div>
                            <div class="row mt-2 ">
                                <div class="col-lg-4 d-flex flex-column ">
                                    <span class="h6 text-gray text-bold-400 "><small>Phone</small></span>
                                    <span class="h5 text-bold-400  text-primary "><strong>{{data.account_phone}}</strong></span>
                                </div>
                                <div class="col-lg-4 d-flex flex-column ">
                                    <span class="h6 text-gray text-bold-400 "><small>Annual Revenue</small></span>
                                    <span class="h5 text-bold-400  text-primary "><strong>{{data.account_annual_revenue}}</strong></span>
                                </div>
                                <div class="col-lg-4 d-flex flex-column ">
                                    <span class="h6 text-gray text-bold-400 "><small>Industry Type</small></span>
                                    <span class="h5 text-bold-400  text-primary "><strong>{{data.account_industry_type}}</strong></span>
                                </div>
                            </div>
                            <div class="row mt-2 ">
                                <div class="col-lg-4 d-flex flex-column ">
                                    <span class="h6 text-gray text-bold-400 "><small>Business Type</small></span>
                                    <span class="h5 text-bold-400  text-primary "><strong>{{data.account_business_type}}</strong></span>
                                </div>
                                <div class="col-lg-4 d-flex flex-column ">
                                    <span class="h6 text-gray text-bold-400 "><small>Address</small></span>
                                    <span class="h5 text-bold-400  text-primary "><strong>Pending</strong></span>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-12">
                                    <span class="h5 text-muted text-bold-400 "><i class="ft-info"></i> Social</span>
                                    <hr class="mt-0">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 d-flex flex-column ">

                                    <a href="{{data.account_facebook_link}}"><span class="h6 text-gray text-bold-400 "><small><i class="ft-facebook"></i> Facebook</small></span></a>
                                </div>
                                <div class="col-lg-4 d-flex flex-column ">
                                    <a href="{{data.account_twitter_link}}"><span class="h6 text-gray text-bold-400 "><small><i class="ft-twitter"></i> Twitter</small></span></a>
                                </div>
                                <div class="col-lg-4 d-flex flex-column ">
                                    <a href="{{data.account_linkedin_link}}"><span class="h6 text-gray text-bold-400 "><small><i class="fa fa-linkedin"></i> Linkedin</small></span></a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>